# dot env file
PORT=3000

DB_HOST='localhost'
DB_NAME='dgii_rnc'
DB_PORT=5432
DB_USER='dgii_rnc_user'
DB_PASSWORD='dgiirnc2024**'

POSTGRES_VERSION='16'

RNC_FILE_URL='https://www.dgii.gov.do/app/WebApps/Consultas/rnc/DGII_RNC.zip'
UNZIPPED_FILE_PATH='./TMP/DGII_RNC.TXT'
