# dot env file
PORT=3000

# Database
DB_HOST='ep-winter-sound-62651727.us-east-2.aws.neon.tech'
DB_NAME='rnc'
DB_PORT=5432
DB_USER='angelmadames'
DB_PASSWORD='DQj2V3loELOd'
DB_SSL_MODE='require'

# Postgres
POSTGRES_VERSION='16'

# Redis
REDIS_VERSION="7.2"

# DGII RNC records
RNC_FILE_URL='https://www.dgii.gov.do/app/WebApps/Consultas/rnc/DGII_RNC.zip'
DOWNLOADED_FILE_PATH='./dgii_rncs.zip';
UNZIPPED_FILE_PATH='./TMP/DGII_RNC.TXT'
